.label {
  color: #471ca9;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.select {
  width: 90px;
  height: 25px;
  background-color: #471ca9;
  border-radius: 5px;
  color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
