@media screen and (min-width: 375px) {
  .container {
    /* width: 100vw; */
    height: 80px;
    background: linear-gradient(#0d2cdc, #67a1c7);
    padding: 40px 10px 40px 10px;
  }
  .text {
    width: 350px;
    margin: 0 auto;
    color: rgb(232, 18, 18);
    text-shadow: 10px 10px 10px #000;
    font-size: 2em;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
  }
}
@media screen and (min-width: 820px) {
  .text {
    width: 500px;
    font-size: 3em;
  }
  .container {
    width: 100vw;
    height: 100px;
  }
}
