@media screen and (min-width: 375px) {
  .nav {
    width: 250px;
    margin: 0 auto;
  }
  .link {
    color: #e4e4e9;
    border-bottom: none;
    margin-right: 30px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 2em;
    margin-left: 20px;
    text-shadow: 10px 10px 10px #000;
  }
  .link:active {
    color: #6be944;
  }
  .link:hover {
    color: #dd2413;
  }
}
@media screen and (min-width: 820px) {
  .nav {
    width: 250px;
    margin-left: 50px;
  }
}
